%html{html_attrs}
  %head
    %title= "Android Stacktrace #{yield(:title)}"
    %link{:rel => 'stylesheet', :href => "stylesheets/application.css"}

  %body
    #user-nav
      - if current_user
        = "Signed in as #{current_user.email}. Not you?"
        = link_to "Sign out", logout_path
      - else
        = link_to "Sign in", new_user_session_path

    #content
      = yield
